LogDir       = "/var/log/sws"
LogLevel     = "trace"
LogFileSize  = "100M"
LogFileTime  = "12h"
LogDaysCount = 24
LogTimezone  = "MSK"
LogRequests  = false
LogErrors    = "err"
Http         = ":80"
Https        = ":443"
CertDir      = "/etc/sws/cert"
CertHost     = ""
RoutesFile   = "/etc/sws/routes.lst"
